* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}
.container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc {
  background-color: black;
  height: 90vh;
  width: 35vw;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blank {
  height: 35vh;
  text-align: right;
  padding: 20px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 50px;
  padding-bottom: 2rem;
}

.box {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 45px;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}
.box:active {
  opacity: 0.5;
  transform: scale(95%);
}
.box__grey {
  background: #a5a5a5;
  color: black;
}
.box__orange {
  background: #f1a33c;
  color: white;
}
.box__dark {
  background: #333;
  color: white;
}
.box__double {
  border-radius: 55px;
  grid-area: 5/1/5/3;
  justify-content: flex-start;
  padding-left: 43px;
  width: 12rem;
}
.current-display {
  display: inline-block;
  color: white;
  width: 25rem;
  height: 50%;
  border: 2px solid red;
  font-size: 4rem;
}
.previous-display {
  display: inline-block;
  color: white;
  width: 25rem;
  height: 50%;
  border: 2px solid red;
  font-size: 3rem;
  opacity: 0.5;
}
